body{
  font-family: sans-serif;
  background-color: orange;
  b{
      color:blue;
  }
 img{
         display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;   
  }
 .img{
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
    
 }
 h1{
     text-align: center;
 }
 .img img{
      padding: 20px;
     margin: 20px;
 }
